

/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Oct 6, 2015, 11:30:55 PM
    Author     : sunil
*/

.HeaderTable {
   font-family: 'Verdana';
   font-size: 10px;
   text-align: left;
   vertical-align: bottom;
   background: #e1dfdf;
   color: maroon;
   border-style: solid;
   border-top-width: 1px;
   border-top-color: #330000;
   border-left-width: 1px;
   border-left-color: #330000;
   border-right-width: 1px;
   border-right-color: #330000;
   border-bottom-width: 0px;
   border-bottom-color: #330000;
   width: 100%;
   height: 45px;
   padding: 0px;
   padding-top: 0px;
   margin-top: 0px;
   margin-bottom: 0px;
   margin-right: 0px;
   margin-left: 0px;
   position: relative;
   top: 0;
   left: 0;
}

.CommonDiv{
   font-family: 'Times New Roman';
   font-size: 36px;
   background: #ffffff;
   color: maroon;
   border: 1px solid green;
   width: 100%;
}

.CommonTable {
   font-family: 'Verdana';
   font-size: 13px;
   text-align: left;
   background: #e1dfdf;
   color: black;
   border-style: solid ;
   border-top-width: 2px;
   border-top-color: #330000;
   border-left-width: 2px;
   border-left-color: #330000;
   border-right-width: 2px;
   border-right-color: #330000;
   border-bottom-width: 0px;
   border-bottom-color: #330000;
   padding: 0px;
   width: 100%;
   padding-left: 30;
   margin-top: 0px;
   margin-left: 0px;
}
.PageTitle {
   font-family: 'Times New Roman';
   font-size: 25px;
   text-align: center;
   vertical-align: middle;
   background: #a6a6a6;
   color: black;
   border-style: solid;
   border-top-width: 2px;
   border-top-color: #330000;
   border-left-width: 2px;
   border-left-color: #330000;
   border-right-width: 2px;
   border-right-color: #330000;
   border-bottom-width: 2px;
   border-bottom-color: #330000;
   width: 100%;
   padding: 0px;
   margin-top: 0px;
   margin-bottom: 0px;
   margin-right: 0px;
   margin-left: 0px;
   
}
body {
    background-color: #e1dfdf;
    padding-left: 0px;
    padding-top: 0px;
    margin: 0px;
}

.LoginDiv {
    position: absolute;
    //top: 200px;
    bottom: 150;
    right: 150;
    width: 400px;
    height: 200px;
    border: 3px solid #8AC007;
}

.LoginTable {
    height: 100%;
    width: 100%;
    vertical-align: middle;
    padding-left: 30;
    padding-top: 20;
}

.TableLabel {
	font-family: Verdana;
	font-size: 8pt;
	TEXT-TRANSFORM: uppercase;
	CURSOR: hand;
	
	BACKGROUND-COLOR:#E1E1FF;
}

.SelectLabel {
	BACKGROUND-COLOR:#006633;
	COLOR: white;
	font-family: Verdana;
	font-size: 8pt;
	TEXT-TRANSFORM: uppercase;
	CURSOR: hand;
	
}